:root {
  --oui-font-family: "Manrope", sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 214 206 41;
  --oui-color-primary-light: 214 206 41;
  --oui-color-primary-darken: 2 2 2;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 107 142 35;
  --oui-color-link-light: 139 172 58;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 139 0 0;
  --oui-color-danger-light: 172 38 38;
  --oui-color-danger-darken: 120 0 0;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 128 0;
  --oui-color-success-light: 34 139 34;
  --oui-color-success-darken: 0 85 0;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 165 42 42;
  --oui-color-warning-light: 205 133 63;
  --oui-color-warning-darken: 214 206 41;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 25 25 25;
  --oui-color-fill-active: 40 40 40;

  --oui-color-base-1: 40 40 40;
  --oui-color-base-2: 30 30 30;
  --oui-color-base-3: 25 25 25;
  --oui-color-base-4: 20 20 20;
  --oui-color-base-5: 15 15 15;
  --oui-color-base-6: 10 10 10;
  --oui-color-base-7: 2 2 2;
  --oui-color-base-8: 7 3 3;
  --oui-color-base-9: 13 12 12;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 139 0 0;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 128 0;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 0 60 0;
  --oui-gradient-primary-end: 0 120 0;

  --oui-gradient-secondary-start: 30 60 30;
  --oui-gradient-secondary-end: 60 120 60;

  --oui-gradient-success-start: 0 40 0;
  --oui-gradient-success-end: 0 100 0;

  --oui-gradient-danger-start: 120 0 0;
  --oui-gradient-danger-end: 180 0 0;

  --oui-gradient-brand-start: 214 206 41;
  --oui-gradient-brand-end: 214 206 41;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 150 75 0;
  --oui-gradient-warning-end: 200 150 0;

  --oui-gradient-neutral-start: 10 10 10;
  --oui-gradient-neutral-end: 20 20 20;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html,
body {
  font-family: "Manrope", sans-serif !important;
  font-size: 16px !important;
}
